<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302021529483-a9t84qkut5ajga27q16m9ejhavpmfrml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302021529483-a9t84qkut5ajga27q16m9ejhavpmfrml</string>
	<key>API_KEY</key>
	<string>AIzaSyB-otTHwA7bOd1b7uj-HQN1W1irf9aT16M</string>
	<key>GCM_SENDER_ID</key>
	<string>302021529483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.resourcedesign.hiphostapp</string>
	<key>PROJECT_ID</key>
	<string>hiphost-f1f6a</string>
	<key>STORAGE_BUCKET</key>
	<string>hiphost-f1f6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302021529483:ios:badc04863efbe95e</string>
	<key>DATABASE_URL</key>
	<string>https://hiphost-f1f6a.firebaseio.com</string>
</dict>
</plist>